services:

  redis:
    container_name: redis
    image: redis:8.2.2-alpine
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning
    restart: always

  backend:
    build: .
    container_name: backend
    command: python manage.py runserver 0.0.0.0:8000
    restart: always
    volumes:
      - ./core:/app
      - ./requirements.txt:/app/requirements.txt
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=test
      - DEBUG=True
    depends_on:
      - redis
  worker:
    container_name: celery_worker
    build: .
    command: celery -A core worker -l INFO
    depends_on:
      - redis
      - backend
    volumes:
      - ./core:/app