Django>=4.2,<5
certifi
asgiref
charset-normalizer
idna
python-decouple
requests
sqlparse
urllib3
pillow
djangorestframework
markdown
django-filter
drf-yasg
drf-yasg[validation]
djangorestframework-simplejwt
django-mail-templated
djoser
black
