django>=5.2,<6
python-decouple
pillow
djangorestframework
markdown
django-filter
drf-yasg
drf-yasg[validation]
djangorestframework-simplejwt
django-mail-templated
djoser
black
flake8
pytest
pytest-django
Faker

#background processing and cache
celery
django-celery-beat
Redis
django-redis

#deployment module
gunicorn

#postgresql adapter
psycopg[binary]
