[flake8]

exclude = 
    .git,
    __pycache__,
    .tox,
    .venv,
    .env,
    .mypy_cache,
    .pytest_cache,
    build,
    dist,
    docs/_build,
    settings.py,
    __init__.py,
    migrations,
    tests/*/migrations,
    tests/test_*.py,
    accounts/apps.py,
    blog/tests/test_*.py,
    accounts/tests/test_*.py,

ignore = 
    E501,

max-line-length = 79
