<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    {% if query %}
        <h1>posts containing "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results%}
            Found {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h3>   
        {% for post in results %}
            <h4>
                <a href="{% url "blog:post-detail" pk=post.id %}">{{ post.title }}</a>
            </h4>
            {{ post.content|truncatewords:12 }}
        {%empty%}
            <p>There are no results for your query</p>
        {% endfor %}
    {% else %}
            <h1>Search for posts</h1>
            <form method="get">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Search">
            </form>
    {% endif %}
</body>
</html>